@model APPFactusFacturacion.DTOS.factus_request.FactusInvoiceRequestDTO

@section styles {
    <link href="~/css/createabill.css" rel="stylesheet" />
}

<section class="admin-dash_card" role="board">

    <section class="admin-title">
        <h1 class="admin-h1">CREAR FACTURA</h1>
    </section>

    <form class="form-log" asp-action="CreateBill" asp-controller="Factus" method="post">
        <!-- Datos principales -->
        <div class="group">
            <input asp-for="reference_code" class="input-form" type="text" required>
            <span class="highlight"></span><span class="bar"></span>
            <label asp-for="reference_code" class="label-form">Código de referencia</label>
        </div>
        <div class="group">
            <textarea asp-for="observation" class="input-form"></textarea>
            <span class="highlight"></span><span class="bar"></span>
            <label asp-for="observation" class="label-form">Observaciones</label>
        </div>
        <div class="group">
            <input asp-for="payment_form" class="input-form" type="text" value="1" required>
            <span class="highlight"></span><span class="bar"></span>
            <label asp-for="payment_form" class="label-form">Forma de pago</label>
        </div>
        <div class="group">
            <input asp-for="payment_due_date" class="input-form" type="text" required>
            <span class="highlight"></span><span class="bar"></span>
            <label asp-for="payment_due_date" class="label-form">Fecha de vencimiento</label>
        </div>
        <div class="group">
            <input asp-for="payment_method_code" class="input-form" type="text" value="10" required>
            <span class="highlight"></span><span class="bar"></span>
            <label asp-for="payment_method_code" class="label-form">Código de método de pago</label>
        </div>

        <!-- Periodo de facturación -->
        <fieldset>
            <legend>Periodo de Facturación</legend>
            <div class="group">
                <input asp-for="billing_period.start_date" class="input-form" type="text" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="billing_period.start_date" class="label-form">Fecha de inicio</label>
            </div>
            <div class="group">
                <input asp-for="billing_period.start_time" class="input-form" type="text" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="billing_period.start_time" class="label-form">Hora de inicio</label>
            </div>
            <div class="group">
                <input asp-for="billing_period.end_date" class="input-form" type="text" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="billing_period.end_date" class="label-form">Fecha de fin</label>
            </div>
            <div class="group">
                <input asp-for="billing_period.end_time" class="input-form" type="text" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="billing_period.end_time" class="label-form">Hora de fin</label>
            </div>
        </fieldset>

        <!-- Información del cliente -->
        <fieldset>
            <legend>Información del Cliente</legend>
            <div class="group">
                <input asp-for="customer.identification" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.identification" class="label-form">Identificación</label>
            </div>
            <div class="group">
                <input asp-for="customer.dv" class="input-form">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.dv" class="label-form">DV</label>
            </div>
            <div class="group">
                <input asp-for="customer.names" class="input-form">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.names" class="label-form">Nombres</label>
            </div>
            <div class="group">
                <input asp-for="customer.address" class="input-form">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.address" class="label-form">Dirección</label>
            </div>
            <div class="group">
                <input asp-for="customer.email" class="input-form" type="email">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.email" class="label-form">Email</label>
            </div>
            <div class="group">
                <input asp-for="customer.phone" class="input-form" type="tel">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.phone" class="label-form">Teléfono</label>
            </div>
            <div class="group">
                <input asp-for="customer.legal_organization_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.legal_organization_id" class="label-form">ID Organización</label>
            </div>
            <div class="group">
                <input asp-for="customer.tribute_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.tribute_id" class="label-form">ID Tributo</label>
            </div>
            <div class="group">
                <input asp-for="customer.identification_document_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.identification_document_id" class="label-form">ID Documento</label>
            </div>
            <div class="group">
                <input asp-for="customer.municipality_id" class="input-form">
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.municipality_id" class="label-form">Municipio</label>
            </div>
            <div class="group">
                <textarea asp-for="customer.company" class="input-form"></textarea>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.company" class="label-form">Company</label>
            </div>
            <div class="group">
                <textarea asp-for="customer.trade_name" class="input-form"></textarea>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="customer.trade_name" class="label-form">TradeName</label>
            </div>
        </fieldset>

        <!-- Productos -->
        <fieldset>
            <legend>Producto</legend>
            <div class="group">
                <input asp-for="items[0].code_reference" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].code_reference" class="label-form">Código del producto</label>
            </div>
            <div class="group">
                <input asp-for="items[0].name" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].name" class="label-form">Nombre del producto</label>
            </div>
            <div class="group">
                <input asp-for="items[0].quantity" class="input-form" type="number" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].quantity" class="label-form">Cantidad</label>
            </div>
            <div class="group">
                <input asp-for="items[0].price" class="input-form" type="number" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].price" class="label-form">Precio</label>
            </div>
            <div class="group">
                <input asp-for="items[0].discount_rate" class="input-form" type="number" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].discount_rate" class="label-form">Descuento</label>
            </div>
            <div class="group">
                <input asp-for="items[0].tax_rate" class="input-form" type="text" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].tax_rate" class="label-form">Impuesto</label>
            </div>
            <div class="group">
                <input asp-for="items[0].unit_measure_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].unit_measure_id" class="label-form">Unidad de medida</label>
            </div>
            <div class="group">
                <input asp-for="items[0].standard_code_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].standard_code_id" class="label-form">Código estándar</label>
            </div>
            <div class="group">
                <input asp-for="items[0].is_excluded" class="input-form" type="number" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].is_excluded" class="label-form">Exento de IVA</label>
            </div>
            <div class="group">
                <input asp-for="items[0].tribute_id" class="input-form" required>
                <span class="highlight"></span><span class="bar"></span>
                <label asp-for="items[0].tribute_id" class="label-form">ID Tributo</label>
            </div>
        </fieldset>

        <button type="submit" class="button buttonBlue">Crear Factura</button>
    </form>

</section>

@section scripts {
    @* <script src="~/js/createbill.js"></script> *@
}