@section styles {       
    <link href="~/css/billscreated.css" rel="stylesheet" />
}


<section class="admin-dash_card" role="board" ng-controller="billsController as sp">
    <section class="admin-title">
        <h1 class="admin-h1">FACTURAS CREADAS</h1>
    </section>
    
    <section class="grid-facturas">
        <div ui-grid="sp.dataGrid" ui-grid-selection ui-grid-pagination ui-grid-exporter class="myGrid"></div>
    </section>

    <div id="iframe-container" style="display: none;">
        <iframe id="external-iframe" width="100%" height="600px"></iframe>
    </div>
</section>

@section scripts {
    <!--angular js core scripts-->
    <script src="~/js/angularapp/dependencies/csv.js"></script>
    <script src="~/js/angularapp/dependencies/pdfmake.js"></script>
    <script src="~/js/angularapp/dependencies/vfs_fonts.js"></script>
    <script src="~/js/angularapp/dependencies/xlsx.full.min.js"></script>
    <script src="~/js/angularapp/dependencies/select2.min.js"></script>
    <script src="~/js/angularapp/dependencies/select2-es.js"></script>


    <!--angular app-->
    <script src="~/js/angularapp/services/maincloud.service.js"></script>
    <script src="~/js/angularapp/services/exportuigrid.service.js"></script>

    <script src="~/js/angularapp/controllers/bills.controller.js"></script>
}