<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="~/favicon.webp">
    <meta property="og:image" content="~/share.png" />


    <title>Creador de facturas Power by Factus - Haltec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--Styles-->
    <link href="~/css/lib/mainadmin.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link href="~/css/lib/ui-grid.css" rel="stylesheet" />

    <link href="~/css/lib/angular-datepicker.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <main class="admin-global">
        <header>
            <nav class="admin-nav">
                <section class="admin-nav_prof">
                    <h2 class="admin-h2 text-uppercase">Creador de facturas <span class="admin-p">Power by Factus - Haltec&reg;</span></h2>
                </section>
                <section class="admin-nav_tab">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="admin-nav_opt" href="~/facturascreadas">
                            <span class="admin-p">Facturas Creadas</span>
                        </a>
                        <a class="admin-nav_opt" href="~/crearfactura">
                            <span class="admin-p">Crear Factura</span>
                        </a>
                    }
                    else
                    {
                        <a class="admin-nav_opt" href="~/">
                            <span class="admin-p">Login</span>
                        </a>                   
                    }
                </section>

                @if (User.Identity.IsAuthenticated)
                {
                    <section class="admin-nav_logout">
                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a class="admin-nav_opt" href=" javascript:document.getElementById('logoutForm').submit()">
                                <span class="admin-p">CERRAR SESIÓN</span>
                            </a>
                        }
                    </section>
                }
            </nav>
        </header>
        <section class="admin-dash">
            @RenderBody()
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.min.js"></script>
    <script src="~/js/angularapp/dependencies/angular-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-ui-grid@4.8.5/ui-grid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/angularapp/app.js"></script>
    <script src="~/js/angularapp/services/maincloud.service.js"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
