<!DOCTYPE html>
<html lang="en" ng-app="angularApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creador de facturas Power by Factus - Haltec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--Styles-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" rel="stylesheet">

    @RenderSection("styles", required: false)
</head>
<body>

    @{
        var controller = ViewContext.RouteData.Values["controller"]?.ToString();
    }

    @if (controller == "Home")
    {
        <header>
            <nav class="admin-nav">
                <section class="admin-nav_prof">
                    <h2 class="admin-h2 text-uppercase">Creador de facturas <span class="admin-p">Power by Factus - Haltec&reg;</span></h2>
                </section>
                <section class="admin-nav_tab">
                    <a class="admin-nav_opt" href="~/">
                        <span class="admin-p">Facturas Creadas</span>
                    </a>
                    <a class="admin-nav_opt" href="~/crearfactura">
                        <span class="admin-p">Crear Factura</span>
                    </a>
                </section>

                <section class="admin-nav_logout">
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="admin-nav_opt" href=" javascript:document.getElementById('logoutForm').submit()">
                            <span class="admin-p">CERRAR SESIÓN</span>
                        </a>
                    }
                </section>

            </nav>
        </header>
    }
    <main class="admin-global">
        <section class="admin-dash">
            @RenderBody()
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
